<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.oa.doc.mapper.OaDocFolderMapper">

    <resultMap type="com.ruoyi.oa.doc.domain.OaDocFolder" id="OaDocFolderResult">
        <id property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="name" column="name"/>
        <result property="owner" column="owner"/>
        <result property="sort" column="sort"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectOaDocFolderVo">
        select id, parent_id, name, owner, sort, tenant_id, create_by, create_time, update_by, update_time, remark
        from oa_doc_folder
    </sql>

    <select id="selectById" parameterType="Long" resultMap="OaDocFolderResult">
        <include refid="selectOaDocFolderVo"/>
        where id = #{id}
    </select>

    <select id="selectList" parameterType="com.ruoyi.oa.doc.domain.OaDocFolder" resultMap="OaDocFolderResult">
        <include refid="selectOaDocFolderVo"/>
        <where>
            <if test="name != null and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="parentId != null">and parent_id = #{parentId}</if>
        </where>
        order by sort, create_time
    </select>

    <select id="selectTree" resultMap="OaDocFolderResult">
        <include refid="selectOaDocFolderVo"/>
        order by parent_id, sort, create_time
    </select>

    <insert id="insert" parameterType="com.ruoyi.oa.doc.domain.OaDocFolder" useGeneratedKeys="true" keyProperty="id">
        insert into oa_doc_folder
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="owner != null">owner,</if>
            <if test="sort != null">sort,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="owner != null">#{owner},</if>
            <if test="sort != null">#{sort},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            sysdate()
        </trim>
    </insert>

    <update id="update" parameterType="com.ruoyi.oa.doc.domain.OaDocFolder">
        update oa_doc_folder
        <set>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from oa_doc_folder where id = #{id}
    </delete>

    <delete id="deleteByIds">
        delete from oa_doc_folder where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="checkNameUnique" parameterType="com.ruoyi.oa.doc.domain.OaDocFolder" resultMap="OaDocFolderResult">
        <include refid="selectOaDocFolderVo"/>
        where parent_id = #{parentId} and name = #{name} limit 1
    </select>

</mapper>
