<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.oa.attendance.mapper.OaAttendanceShiftMapper">

    <resultMap type="com.ruoyi.oa.attendance.domain.OaAttendanceShift" id="OaAttendanceShiftResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="lateRule" column="late_rule"/>
        <result property="earlyRule" column="early_rule"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectOaAttendanceShiftVo">
        select id, name, start_time, end_time, late_rule, early_rule, tenant_id,
               create_by, create_time, update_by, update_time, remark
        from oa_attendance_shift
    </sql>

    <select id="selectById" parameterType="Long" resultMap="OaAttendanceShiftResult">
        <include refid="selectOaAttendanceShiftVo"/>
        where id = #{id}
    </select>

    <select id="selectList" parameterType="com.ruoyi.oa.attendance.domain.OaAttendanceShift" resultMap="OaAttendanceShiftResult">
        <include refid="selectOaAttendanceShiftVo"/>
        <where>
            <if test="name != null and name != ''">and name like concat('%', #{name}, '%')</if>
        </where>
        order by create_time desc
    </select>

    <insert id="insert" parameterType="com.ruoyi.oa.attendance.domain.OaAttendanceShift" useGeneratedKeys="true" keyProperty="id">
        insert into oa_attendance_shift
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="startTime != null and startTime != ''">start_time,</if>
            <if test="endTime != null and endTime != ''">end_time,</if>
            <if test="lateRule != null">late_rule,</if>
            <if test="earlyRule != null">early_rule,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="startTime != null and startTime != ''">#{startTime},</if>
            <if test="endTime != null and endTime != ''">#{endTime},</if>
            <if test="lateRule != null">#{lateRule},</if>
            <if test="earlyRule != null">#{earlyRule},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            sysdate()
        </trim>
    </insert>

    <update id="update" parameterType="com.ruoyi.oa.attendance.domain.OaAttendanceShift">
        update oa_attendance_shift
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="startTime != null and startTime != ''">start_time = #{startTime},</if>
            <if test="endTime != null and endTime != ''">end_time = #{endTime},</if>
            <if test="lateRule != null">late_rule = #{lateRule},</if>
            <if test="earlyRule != null">early_rule = #{earlyRule},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from oa_attendance_shift where id = #{id}
    </delete>

    <delete id="deleteByIds">
        delete from oa_attendance_shift where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
