<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.oa.portal.mapper.OaPortalWidgetMapper">

    <resultMap type="com.ruoyi.oa.portal.domain.OaPortalWidget" id="OaPortalWidgetResult">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="configSchema" column="config_schema"/>
        <result property="sort" column="sort"/>
        <result property="status" column="status"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectOaPortalWidgetVo">
        select id, code, name, type, config_schema, sort, status, tenant_id, create_by, create_time,
               update_by, update_time, remark
        from oa_portal_widget
    </sql>

    <select id="selectById" parameterType="Long" resultMap="OaPortalWidgetResult">
        <include refid="selectOaPortalWidgetVo"/>
        where id = #{id}
    </select>

    <select id="selectList" parameterType="com.ruoyi.oa.portal.domain.OaPortalWidget" resultMap="OaPortalWidgetResult">
        <include refid="selectOaPortalWidgetVo"/>
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
            <if test="name != null and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="type != null and type != ''">and type = #{type}</if>
            <if test="status != null">and status = #{status}</if>
        </where>
        order by sort asc, create_time desc
    </select>

    <select id="selectEnabledList" resultMap="OaPortalWidgetResult">
        <include refid="selectOaPortalWidgetVo"/>
        where status = 1
        order by sort asc
    </select>

    <insert id="insert" parameterType="com.ruoyi.oa.portal.domain.OaPortalWidget" useGeneratedKeys="true" keyProperty="id">
        insert into oa_portal_widget
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="configSchema != null and configSchema != ''">config_schema,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="configSchema != null and configSchema != ''">#{configSchema},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            sysdate()
        </trim>
    </insert>

    <update id="update" parameterType="com.ruoyi.oa.portal.domain.OaPortalWidget">
        update oa_portal_widget
        <set>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="configSchema != null">config_schema = #{configSchema},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from oa_portal_widget where id = #{id}
    </delete>

    <delete id="deleteByIds">
        delete from oa_portal_widget where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
