<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bpm.mapper.BpmVariableMapper">

    <resultMap type="BpmVariable" id="BpmVariableResult">
        <id     property="variableId"   column="variable_id"      />
        <result property="categoryId"   column="category_id"      />
        <result property="definitionId" column="definition_id"    />
        <result property="variableName" column="variable_name"    />
        <result property="variableCode" column="variable_code"    />
        <result property="variableType" column="variable_type"    />
        <result property="defaultValue" column="default_value"    />
        <result property="createBy"     column="create_by"        />
        <result property="createTime"   column="create_time"      />
        <result property="updateBy"     column="update_by"        />
        <result property="updateTime"   column="update_time"      />
        <result property="remark"       column="remark"           />
    </resultMap>

    <sql id="selectBpmVariableVo">
        select variable_id, category_id, definition_id, variable_name, variable_code, variable_type, default_value, create_by, create_time, update_by, update_time, remark from bpm_variable
    </sql>

    <select id="selectBpmVariableById" parameterType="Long" resultMap="BpmVariableResult">
        <include refid="selectBpmVariableVo"/>
        where variable_id = #{variableId}
    </select>

    <select id="selectBpmVariableList" parameterType="BpmVariable" resultMap="BpmVariableResult">
        <include refid="selectBpmVariableVo"/>
        <where>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="definitionId != null">
                AND definition_id = #{definitionId}
            </if>
            <if test="variableName != null and variableName != ''">
                AND variable_name like concat('%', #{variableName}, '%')
            </if>
            <if test="variableCode != null and variableCode != ''">
                AND variable_code like concat('%', #{variableCode}, '%')
            </if>
            <if test="variableType != null and variableType != ''">
                AND variable_type = #{variableType}
            </if>
        </where>
    </select>

    <select id="selectBpmVariableListByCategoryId" parameterType="Long" resultMap="BpmVariableResult">
        <include refid="selectBpmVariableVo"/>
        where category_id = #{categoryId}
    </select>

    <select id="selectBpmVariableListByDefinitionId" parameterType="Long" resultMap="BpmVariableResult">
        <include refid="selectBpmVariableVo"/>
        where definition_id = #{definitionId}
    </select>

    <insert id="insertBpmVariable" parameterType="BpmVariable">
        insert into bpm_variable (
            <if test="categoryId != null">category_id,</if>
            <if test="definitionId != null">definition_id,</if>
            <if test="variableName != null and variableName != ''">variable_name,</if>
            <if test="variableCode != null and variableCode != ''">variable_code,</if>
            <if test="variableType != null and variableType != ''">variable_type,</if>
            <if test="defaultValue != null and defaultValue != ''">default_value,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            create_time
        )values(
            <if test="categoryId != null">#{categoryId},</if>
            <if test="definitionId != null">#{definitionId},</if>
            <if test="variableName != null and variableName != ''">#{variableName},</if>
            <if test="variableCode != null and variableCode != ''">#{variableCode},</if>
            <if test="variableType != null and variableType != ''">#{variableType},</if>
            <if test="defaultValue != null and defaultValue != ''">#{defaultValue},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            sysdate()
        )
    </insert>

    <update id="updateBpmVariable" parameterType="BpmVariable">
        update bpm_variable
        <set>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="definitionId != null">definition_id = #{definitionId},</if>
            <if test="variableName != null and variableName != ''">variable_name = #{variableName},</if>
            <if test="variableCode != null and variableCode != ''">variable_code = #{variableCode},</if>
            <if test="variableType != null and variableType != ''">variable_type = #{variableType},</if>
            <if test="defaultValue != null">default_value = #{defaultValue},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where variable_id = #{variableId}
    </update>

    <delete id="deleteBpmVariableById" parameterType="Long">
        delete from bpm_variable where variable_id = #{variableId}
    </delete>

    <delete id="deleteBpmVariableByIds" parameterType="Long">
        delete from bpm_variable where variable_id in
        <foreach item="variableId" collection="array" open="(" separator="," close=")">
            #{variableId}
        </foreach>
    </delete>

</mapper>
