<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bpm.mapper.BpmWorkbenchComponentScopeMapper">

    <resultMap type="BpmWorkbenchComponentScope" id="BpmWorkbenchComponentScopeResult">
        <id     property="scopeId"        column="scope_id"        />
        <result property="componentId"    column="component_id"    />
        <result property="scopeType"      column="scope_type"      />
        <result property="scopeTargetId"  column="scope_target_id" />
        <result property="createBy"       column="create_by"       />
        <result property="createTime"     column="create_time"     />
    </resultMap>

    <sql id="selectBpmWorkbenchComponentScopeVo">
        select scope_id, component_id, scope_type, scope_target_id, create_by, create_time from bpm_workbench_component_scope
    </sql>

    <select id="selectBpmWorkbenchComponentScopeList" parameterType="BpmWorkbenchComponentScope" resultMap="BpmWorkbenchComponentScopeResult">
        <include refid="selectBpmWorkbenchComponentScopeVo"/>
        <where>
            <if test="componentId != null">
                AND component_id = #{componentId}
            </if>
            <if test="scopeType != null and scopeType != ''">
                AND scope_type = #{scopeType}
            </if>
        </where>
    </select>

    <insert id="insertBpmWorkbenchComponentScope" parameterType="BpmWorkbenchComponentScope">
        insert into bpm_workbench_component_scope (
            <if test="componentId != null">component_id,</if>
            <if test="scopeType != null and scopeType != ''">scope_type,</if>
            <if test="scopeTargetId != null">scope_target_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        )values(
            <if test="componentId != null">#{componentId},</if>
            <if test="scopeType != null and scopeType != ''">#{scopeType},</if>
            <if test="scopeTargetId != null">#{scopeTargetId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        )
    </insert>

    <delete id="deleteBpmWorkbenchComponentScopeById" parameterType="Long">
        delete from bpm_workbench_component_scope where scope_id = #{scopeId}
    </delete>

    <delete id="deleteBpmWorkbenchComponentScopeByComponentId" parameterType="Long">
        delete from bpm_workbench_component_scope where component_id = #{componentId}
    </delete>

</mapper>
